ul {
	display: block;
	list-style-type: none; 
	margin: 0 auto;
	padding: 0;
	overflow: hidden; 
	background-color: Gray;
  
	
}

li {
	float: left;

}

li a{

	width:200px;
	height:40px;
	display: block;
	text-align: center;
	list-style: none;
	padding-bottom: 10px;
	padding-top: 10px;
	text-decoration: none;
	color: white;
}
li a:hover {
	background-color: #A9A9A9; 
	text-decoration: none;
	color: white;
            }

a {
color: white;
}